nav.navbar {
    padding: 0 20px;
    text-align: center;
}

.container {
    padding: 15px;
}

nav.navbar .navbar-right li img {
    height: 20px;
}

label {
    font-weight: 500;
}

.valid-feedback, .invalid-feedback {
    font-size: 85%;
    margin-top: .25rem;
}

.valid-feedback {
    color: #28a745;
}

.invalid-feedback {
    color: #dc3545;
}

.ng-valid {
    border-color: #28a745;
}

.ng-invalid:not(.ng-untouched):not(.ng-pristine) {
    border-color: #dc3545;
}

.mb-3 {
    margin-bottom: 30px;
}

.error_message, .success_message {
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 3px;
    background-color: #ffcfcf;
    display: none;
}

.error_message {
    border: 1px solid #ff0000;
    background-color: #ffcfcf;
}

.success_message {
    border: 1px solid #00c30d;
    background-color: #e4ffd9;
}

.loading {
    height: 25px;
    margin-left: 15px;
    display: none;
}

#hideModal {
    display: none;
}

.rec.error_message, .rec.success_message {
    width: fit-content;
    margin: 15px;
}
