<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/" routerLinkActive="active">{{translation.homeButton}}</a>
            </li>
            <li>
                <a routerLink="/recruitment" routerLinkActive="active">{{translation.workButton}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="language !== 'en'">
                <a href="javascript:void(0);" (click)="setLanguage('en')">
                    <img src="assets/images/en.png">
                </a>
            </li>
            <li *ngIf="language !== 'sv'">
                <a href="javascript:void(0);" (click)="setLanguage('sv')">
                    <img src="assets/images/sv.png">
                </a>
            </li>
            <li *ngIf="!loggedIn">
                <a href="#" data-toggle="modal" data-target="#login-modal">{{translation.loginButton}}</a>
            </li>
            <li *ngIf="loggedIn">
                <a href="javascript:void(0);" (click)="logout()">{{translation.logoutButton}}</a>
            </li>
        </ul>
    </nav>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form>
                <input type="text" name="user" placeholder="Username" [(ngModel)]="username">
                <input type="password" name="pass" placeholder="Password" [(ngModel)]="password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login" (click)="login()"
                       data-toggle="modal" data-target="#login-modal">
            </form>

            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
